{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        {#<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3" src="/docs/4.4/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
                <small>Since 2011</small>
            </div>
        </div>#}

{#        <div class="my-3 p-3 bg-white rounded shadow-sm">#}
{#            <h6 class="border-bottom border-gray pb-2 mb-0">Actas</h6>#}
{#            <div class="media text-muted pt-3">#}
{#                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>#}
{#                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <div class="d-flex justify-content-between align-items-center w-100">#}
{#                        <strong class="text-gray-dark">Full Name</strong>#}
{#                        <a href="{{ path('acta_show', {'slug': '2'}) }}">Follow</a>#}
{#                    </div>#}
{#                    <span class="d-block">@username</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Actas</h6>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sistema</th>
                <th scope="col">Fecha</th>
                <th scope="col">Ver</th>
            </tr>
            </thead>
            <tbody>
            {% for acta in actas %}
            <tr>
                <th scope="row">{{ acta.id }}</th>
                <th scope="row">{{ acta.sistematica }}</th>
                <th scope="row">{{ acta.vacunaAntiAftosaVencimiento|date("d/m/Y")  }}</th>
                <th scope="row"> <a href="{{ path('acta_show', {'slug': '2'}) }}"><i class="fa fa-search" aria-hidden="true"></i></a></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </main>
{% endblock %}

{% block title %}

{% endblock %}

