{% extends 'base.html.twig' %}

{% block title %}Registro!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href=" {{ asset('css/login.css')  }}">
{% endblock %}
{% block body %}
    <form class="form-signin" method="post">
        {#  Remplazar con un Symfony Form #}
        <h1 class="h3 mb-3 font-weight-normal">Registrar</h1>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email"  name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

        <label for="inputPassword" class="sr-only">Clave</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Clave" required>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_terms"> Aceptos los Terminos y condiciones
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Registrar
        </button>
    </form>
{% endblock %}