{% extends 'establecimiento_base.html.twig' %}
{% block title %}Nuevo de propietario{% endblock %}
{% block content_body %}
    <h1>Nuevo Propietario</h1>
    {{ form_start(propietarioForm) }}
    {{ form_widget(propietarioForm) }}
    <button type="submit" class="btn btn-primary">Crear!</button>
    {{ form_end(propietarioForm) }}
{% endblock %}